@import "base/variables";
@import "base/mixins";
@import "base/base";
@import "components/grid";
@import "components/header";

$bg-color: #706f6f;
$grid-color: #7b7a7a;

@import "components/figure";
@import "components/map";
@import "components/finalmap";


/// Штука яка робить сітку
/// Поки що я її не юзаю, замість неї linear-gradient

//.grid-block {
//  float: left;
//
//  @media #{$brk-fixed} {
//    width: $cell-fixed;
//    height: $cell-fixed;
//  }
//
//  @media #{$brk-fluid}{
//    width: $cell-fluid;
//    height: $cell-fluid;
//  }
//
//  background-color: transparent;
//  border-left: 1px solid #eee;
//  border-top: 1px solid #eee;
//}
////////////////////////////////////////////////////
////////////////////////////////////////////////////

$cell-fixed: 128px;
$cell-fluid: 100vw/11;
$cell-mobile: 100vw/9.4; //9 cells, 0.2 margin at both sides


html, body, div, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Anonymous Pro", sans-serif!important;
  color:white;
  background-color: $bg-color;
}

* {
  box-sizing: border-box;
}

.mobile {
  display: none;

  @media #{$brk-mobile}  {
    display: block;
  }
}

.desktop {
  display: block;

  @media #{$brk-mobile}  {
    display: none;
  }
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.paragraph {
  hyphens: auto;
  -webkit-hyphens: auto;
  word-wrap: break-word;

  @media #{$brk-mobile} {
    hyphens: none;
    -webkit-hyphens: none;
    word-wrap: normal;
  }
}


.link {
  border-bottom: 1px dashed white;
}

.main-content {
  @media #{$brk-fixed} {
    margin: 0 auto;
    width: $cell-fixed * 9;
    background-size: $cell-fixed $cell-fixed;
  }

  @media #{$brk-fluid}{
    margin-left: $cell-fluid;
    margin-right: $cell-fluid;
    width: $cell-fluid * 9;
    background-size: $cell-fluid $cell-fluid;
  }

  @media #{$brk-mobile}{
    margin-left: $cell-mobile * 0.2;
    margin-right: $cell-mobile * 0.2;
    width: $cell-mobile * 9;
    background-size: $cell-mobile $cell-mobile;
  }
}

.main-gridlines {
  border-right: solid $grid-color 1px;
  border-bottom: solid $grid-color 1px;

  background-image: linear-gradient(to right, $grid-color 1px, transparent 1px),
  linear-gradient(to bottom, $grid-color 1px, $bg-color 1px);
}

h1 {
  font-weight: 800;
  @media  #{$brk-fixed} {
    font-size:106px;
    line-height: 1.8;

  }

  @media #{$brk-fluid}  {
    @include px2vw("font-size", 106px);
    line-height: 1.8;

  }

  @media #{$brk-mobile}  {
    font-size: 8.5vw;
    line-height: 1.3;
  }
}

h3 {
  text-transform: uppercase;
  font-weight: 800;
  vertical-align: baseline;
  line-height: 1.45;
  letter-spacing: 0.1em;

  @media #{$brk-fixed} {
    font-size: 28px;
  }

  @media #{$brk-fluid} {
    @include px2vw("font-size", 28px)
  }

  @media #{$brk-mobile} {
    font-size: 3.6vw;
  }
}

.bottom-margin {
  @media #{$brk-fixed} {
    margin-bottom: 31px;
  }
  @media #{$brk-fluid} {
    @include px2vw("margin-bottom", 31px);
  }
}

.paragraph {
  line-height: 1.3;

  @media  #{$brk-fixed} {
    font-size: 20px;
  }
  @media #{$brk-fluid} {
    @include px2vw("font-size", 20px);
  }

  @media #{$brk-mobile} {
    font-size: 3.6vw;
  }
}

.incut {
  font-weight: 900;
  vertical-align: top;
  line-height: 1.3;

  @media #{$brk-fixed} {
    font-size: 30px;
  }

  @media #{$brk-fluid} {
    @include px2vw("font-size", 30px);
  }

  @media #{$brk-mobile} {
    font-size: 3.6vw;
  }
}

.read-more {
  font-weight: 900;
  text-align: center;
  line-height: 1.4;
  letter-spacing: 0.1em;
  @media  #{$brk-fixed} {
    font-size: 20px;
  }
  @media #{$brk-fluid} {
    @include px2vw("font-size", 20px);
  }
  @media #{$brk-mobile}  {
    font-size: 2.3vw;
  }


}

.credits {
  font-weight: 800;
  $span-fixed: 0.2 * $cell-fixed;
  $span-fluid: 0.2 * $cell-fluid;
  $span-mobile: 0.2 * $cell-mobile;
  line-height: 1.3;
  letter-spacing: 0.1em;

  @media  #{$brk-fixed} {
    font-size: 16px;

    .credits-job {
      width: $cell-fixed * 3.5;
      padding-right: $span-fixed;
    }

    .credits-name {
      left: $cell-fixed * 3.5;
      width: $cell-fixed * 3.5;
      padding-left: $span-fixed;
    }
  }
  @media #{$brk-fluid}  {
    @include px2vw("font-size", 16px);

    .credits-job {
      width: $cell-fluid * 3.5;
      padding-right: $span-fluid;
    }

    .credits-name {
      left: $cell-fluid * 3.5;
      width: $cell-fluid * 3.5;
      padding-left: $span-fluid;
    }
  }

  @media #{$brk-mobile}  {
    font-size: 1.6vw;

    .credits-job {
      width: $cell-mobile * 3.5;
      padding-right: $span-mobile;
    }

    .credits-name {
      left: $cell-mobile * 3.5;
      width: $cell-mobile * 3.5;
      padding-left: $span-mobile;
    }
  }
}

.small-caps {
  font-family: 'Arial', sans-serif;
  font-variant: small-caps;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.note {
  font-family: "Anonymous Pro", sans-serif !important;
  z-index: 9999;
  padding-top: 1vw;

  @media  #{$brk-fixed} {
    font-size: 16px;
  }
  @media #{$brk-fluid} {
    @include px2vw("font-size", 16px);
  }
  @media #{$brk-mobile}  {
    font-size: 2.3vw;
  }
}

.arrow {
  width: 100%;
  height: 100%;

  svg {
    display: block;

    path {
      stroke: white;
      fill: none;
    }
  }
}

.arrow-down {
  svg {
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
  }

  path {
    stroke-width: 2px;

    @media #{$brk-mobile}  {
      stroke-width: 6px;
    }
  }
}

.click_me {
  position:absolute;
  top: 10%;
  right:100%;
}

p.click_me {
  width:100px;
  word-break: keep-all;
  text-align: right;
  position:absolute;
  color:white;
  top: 10%;
  right:115%;
  font-size:16px;
}






