
.tetris-figure {
  width: 100%;
  height: 100%;

  .grid-wrapper{
    width: 100%;
    height: 100%;
  }

  .elementary-block {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    float: left;
    display: inline-block;
    vertical-align: top;
    //
    //border-left: 1px solid $grid-color;
    //border-top: 1px solid $grid-color;
  }

  .elementary-block.transparent {
    cursor: pointer;
  }

  .elementary-block.opaque {
    background-color: $bg-color;
  }
}
