
#finalmap {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90vh;

  @media #{$brk-mobile}  {
    height: 85vh;
  }
}

#finalmap-container {
  position: relative;

  #coordinates {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: #3d3d3d;
    padding: 3px;
  }
}